*.config json=diff
*.modinfo json=diff
*.item json=diff
*.frames json=diff
*.lua lua=diff
*.object json=diff
*.chest json=diff
*.head json=diff
*.legs json=diff
*.beamaxe json=diff
*.gun json=diff
*.animation json=diff
*.recipe json=diff
*.tech json=diff
*.techitem json=diff