## Basic files to ignore
*.exe
*.txt
*.pdn
*.jpg
*.jpeg
*.gif
*.apng
*.agif
*.bat

## Compressed Folders
*.zip
*.rar
*.7z
*.tar
*.tar.gz

## Windows hidden files.
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
$RECYCLE.BIN/