{
	"paneLayout" :
	{
		"panefeature" :
		{
			"type" : "panefeature",
			"keyDismissable" : true,
			"persistent" : true
		},
		"background" :
		{
			"type" : "background",
			"fileHeader" : "/interface/v6songbook/header.png",
			"fileBody" : "/interface/v6songbook/body_blank.png",
			"fileFooter" : "/interface/v6songbook/footer.png"
		},
		"close" :
		{
			"type" : "button",
			"base" : "/interface/inventory/x.png",
			"hover" : "/interface/inventory/xhover.png",
			"press" : "/interface/inventory/xpress.png",
			"position" : [283, 362]
		},
		"windowtitle" :
		{
			"type" : "title",
			"title" : "Starbound Extended Songbook",
			"subtitle" : "Music",
			"position" : [0, 254],
			"icon" : {
			"type" : "image",
			"file" : "/interface/songbook/iconSongbook.png",
			"position" : [0, 0],
			"zlevel" : -1
		}
		},
		"scrollBG" :
		{
			"type" : "image",
			"file" : "/interface/v6songbook/scrollbg.png",
			"position" : [2, 39],
			"zlevel" : -5
		},
		"lblSong" :
		{
			"type" : "label",
			"position" : [150, 346],
			"hAnchor" : "mid",
			"value" : "Choose a song",
			"color" : [127, 127, 127]
		},
		"songs" :
		{
			"type" : "scrollArea",
			"rect" : [4, 75, 299, 332],
			"children" :
			{
				"list" :
				{
					"type" : "list",
					"schema" :
					{
						"selectedBG" : "/interface/v6songbook/songselected.png",
						"unselectedBG" : "/interface/v6songbook/songbackground.png",
						"spacing" : [0, 1],
						"memberSize" : [287, 9],
						"listTemplate" :
						{
							"background" :
							{
								"type" : "image",
								"file" : "/interface/v6songbook/songbackground.png",
								"position" : [0, 0],
								"zlevel" : -1
							},
							"songName" :
							{
								"type" : "label",
								"wrapWidth" : 287,
								"position" : [2, 0],
								"hAnchor" : "left",
								"width" : 483,
								"value" : "Replace Me"
							}
						}
					}
				}
			}
		},
		"group" :
		{
			"type" : "textbox",
			"position" : [94, 41],
			"hint" : "Play Solo",
			"maxWidth" : 50
		},
		"lblBand" :
		{
			"type" : "label",
			"position" : [148, 54],
			"hAnchor" : "mid",
			"value" : "Enter band name to play as a group",
			"color" : [127, 127, 127]
		},
		"lblBandInput" :
		{
			"type" : "image",
			"file" : "/interface/songbook/band.png",
			"position" : [79, 38],
			"zlevel" : -3
		},
		"lblBandPlayback" :
		{
			"type" : "label",
			"position" : [128, 48],
			"hAnchor" : "mid",
			"value" : "",
			"color" : [127, 127, 127]
		},
		"btnPlay" :
		{
			"type" : "button",
			"base" : "/interface/button.png",
			"hover" : "/interface/buttonhover.png",
			"position" : [160, 38],
			"caption" : "Play"
		}
	}
}
