{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Ram", "O", "Rap", "Neph", "Khe", "Mo", "Cleo", "Oba", "Tuten", "P", "Den", "Sem", "Tjer", "Nyn", "Ku", "Dje", "Nyu", "Nem" ],
      [ { "mode" : "alts" }, "tet", "tut", "tep", "tra", "thys", "sut", "set", "ses", "stet", "shutset", "shetsut", "shatsut", "num", "tah", "djib", "defra" ]
    ]
  ]
}