{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/adminheader.png",
      "fileBody" : "/interface/adminslots.png",
      "fileFooter" : "/interface/adminfooter.png"
    },
    "objectImage" : {
      "type" : "image",
      "position" : [39, 79],
      "file" : "",
      "centered" : true,
      "maxSize" : [40, 40],
      "minSize" : [40, 40]
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [35, 35],
      "dimensions" : [1, 1],
      "spacing" : [36, 36],
      "backingImage" : "/interface/inventory/empty.png"
    }
  }
}
