{
  "action" : "actions",
  "list" : [
    {
      "action" : "loop",
      "count" : 3,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "animation" : "/animations/puff2c/puff2c.animation",
                "size" : 0.3,
                "initial" : "drift",
                "rotation" : 0.14,
                "timeToLive" : 0.4
              }
            }
          ]
        },
        {
          "action" : "spark"
        }
      ]
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/tech/mech_step.wav" ]
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 4,
      "backgroundRadius" : 0.5,
      "explosiveDamageAmount" : 9000,
      "delaySteps" : 2
    }
  ]
}
