{
  "action" : "actions",
  "list" : [
	 {
	  "action" : "projectile",
	  "inheritDamageFactor" : 0,
	  "type" : "spiderlaserhitspark"
	},
    {
      "action" : "loop",
      "count" : 4,
      "body" : [
        {
          "action" : "spark"
        }
      ]
    },
    {
      "action" : "loop",
      "count" : 6,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "animation" : "/animations/sparkles/sparkle3.animation",
                "size" : 1.0,
                "rotation" : 0.14,
                "timeToLive" : 0.5
              }
            }
          ]
        }
      ]
    },  
	{
      "action" : "light",
      "color" : "red"
    },
	{
      "action" : "sound",
      "options" : [ "/sfx/blocks/sand_fall1.wav", "/sfx/blocks/sand_fall2.wav","/sfx/blocks/sand_fall3.wav", 
		"/sfx/blocks/sand_fall4.wav", "/sfx/blocks/sand_fall5.wav", "/sfx/blocks/sand_fall6.wav",
		"/sfx/blocks/sand_fall7.wav", "/sfx/blocks/sand_fall8.wav","/sfx/blocks/sand_fall9.wav"]
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 2.5,
      "backgroundRadius" : 0,
      "explosiveDamageAmount" : 6,
	  "harvestLevel" : 99,
      "delaySteps" : 2
    }
  ]
}
