{
  "requiresBlueprint" : false,
  "paneLayout" : {
    "panefeature" : {
      "type" : "panefeature",
      "keyDismissable" : true,
      "persistent" : true
    },
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/musicalcraftingheader.png",
      "fileBody"   : "/interface/musicalcraftingbody.png",
      "fileFooter" : "/interface/musicalcraftingfooter.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/inventory/x.png",
      "hover" : "/interface/inventory/xhover.png",
      "press" : "/interface/inventory/xpress.png",
      "position" : [362, 261]
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "  Mighty Music Monolith",
      "subtitle" : "  Make some noise!",
      "position" : [-5, 252],
      "icon" : {
        "type" : "image",
        "file" : "/interface/craftingtable.png",
        "position" : [0, -10],
        "zlevel" : -1
      }
    },
    "lblSchematics" : {
      "type" : "label",
      "position" : [108, 243],
      "hAnchor" : "mid",
      "value" : "CATALOG"
    },
    "lblProducttitle" : {
      "type" : "label",
      "position" : [285, 243],
      "hAnchor" : "mid",
      "value" : "INSTRUMENT"
    },
    "spinCount" : {
      "type" : "spinner",
      "position" : [222, 40],
      "upOffset" : 34
    },
    "tbSpinCount" : {
      "type" : "textbox",
      "position" : [234, 40],
      "textAlign" : "center",
      "maxWidth" : 15,
      "regex" : "x?\\d{0,3}",
      "hint" : ""
    },
    "lblAmountInput" : {
      "type" : "image",
      "file" : "/interface/crafting/amount.png",
      "position" : [228, 39],
      "zlevel" : -3
    },
    "lbllvlSort" : {
      "type" : "image",
      "file" : "/interface/organizelevelhigher.png",
      "position" : [143, 232],
      "zlevel" : -3
    },
    "btnCraft" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "position" : [294, 38],
      "caption" : "Buy"
    },
    "btnFilterHaveMaterials" : {
      "type" : "button",
      "base" : "/interface/crafting/checkboxnocheck.png",
      "baseImageChecked" : "/interface/crafting/checkboxcheck.png",
      "checkable" : true,
      "checked" : false,
      "position" : [5000, 5000]
    },
    "lblProduct" : {
      "type" : "label",
      "position" : [5000, 5000],
      "hAnchor" : "left",
      "value" : "swag"
    },

    "scrollArea" : {
      "type" : "scrollArea",
      "rect" : [25, 57, 194, 231],
      "children" : {
        "itemList" : {
          "type" : "list",
          "schema" : {
            "selectedBG" : "/interface/craftableselected.png",
            "unselectedBG" : "/interface/craftablebackground.png",
            "spacing" : [0, 1],
            "memberSize" : [156, 20],
            "listTemplate" : {
              "background" : {
                "type" : "image",
                "file" : "/interface/craftablebackground.png",
                "position" : [0, 0],
                "zlevel" : -1
              },
              "itemName" : {
                "type" : "label",
                "position" : [21, 11],
                "hAnchor" : "left",
                "width" : 116,
                "value" : "Shiggy Diggy"
              },
              "itemIcon" : {
                "type" : "itemslot",
                "position" : [1, 1],
                "callback" : "null"
              },
              "level" : {
                "type" : "label",
                "position" : [5000, 5000],
                "hAnchor" : "mid",
                "value" : "Lvl. 100"
              },
              "moneyIcon" : {
                "type" : "image",
                "position" : [121, 6],
                "file" : "/interface/money.png"
              },
              "priceLabel" : {
                "type" : "label",
                "position" : [133, 6],
                "hAnchor" : "left",
                "value" : "0"
              },
              "notcraftableoverlay" : {
                "type" : "image",
                "file" : "/interface/crafting/notcraftableoverlay.png",
                "position" : [0, 0],
                "zlevel" : 1
              }
            }
          }
        }
      }
    },
    "description" : {
      "type" : "widget",
      "position" : [210, 50],
      "size" : [140, 220]
    },
    "filter" : {
      "type" : "textbox",
      "position" : [76, 42],
      "hint" : "Search",
      "maxWidth" : 70,
      "escapeKey" : "close",
      "enterKey" : "filter",
      "focus" : true
    },
    "categories" : {
      "type" : "radioGroup",
      "toggleMode" : true,
      "buttons" : [  ]
    },
    "rarities" : {
      "type" : "radioGroup",
      "toggleMode" : true,
      "buttons" : [  ]
    }
  },
  "tooltip" : {
    "panefeature" : {
      "type" : "panefeature",
      "keyDismissable" : true,
      "persistent" : true
    },
    "itemList" : {
      "position" : [2, 3],
      "type" : "list",
      "schema" : {
        "spacing" : [0, 0],
        "memberSize" : [125, 25],
        "listTemplate" : {
          "itemName" : {
            "type" : "label",
            "position" : [22, 10],
            "hAnchor" : "left",
            "wrapWidth" : 116,
            "value" : "Golden Moustache"
          },
          "itemIcon" : {
            "type" : "itemslot",
            "position" : [1, 1],
            "callback" : "null"
          },
          "count" : {
            "type" : "label",
            "position" : [138, 0],
            "hAnchor" : "right",
            "value" : "19/99"
          }
        }
      }
    }
  }
}